.App{
  width:95vw;
  height:95vh;
  margin:auto;
  display:flex;
  border: 2px solid black;
}

.App-Section-One{
  background:blue;
  color:white;
  height:100%;
  width:30%;
}

.App-Section-Two{
  background:red;
  color:white;
  height:100%;
  Width:70%;
}